{% comment %}
  Renders upsell products in the cart drawer.
  Source can be a collection, manual product list, or automatic recommendations.
{% endcomment %}

{%- if settings.cart_drawer_upsell_enable and cart != empty -%}
  {%- liquid
    assign upsell_limit = settings.cart_drawer_upsell_limit | default: 4
    assign upsell_source = settings.cart_drawer_upsell_source | default: 'recommendations'
    assign upsell_product_id = cart.items.last.product.id
    assign upsell_intent = settings.cart_drawer_upsell_intent | default: 'complementary'
  -%}

  {%- if upsell_source == 'collection' and settings.cart_drawer_upsell_collection != blank -%}
    {% render 'cart-drawer-upsell-slider',
      products: settings.cart_drawer_upsell_collection.products,
      upsell_limit: upsell_limit
    %}
  {%- elsif upsell_source == 'products' and settings.cart_drawer_upsell_products.count > 0 -%}
    {% render 'cart-drawer-upsell-slider',
      products: settings.cart_drawer_upsell_products,
      upsell_limit: upsell_limit
    %}
  {%- else -%}
    <div class="cart-drawer__upsell" id="CartDrawer-Upsell">
      <cart-drawer-upsell
        class="cart-drawer-upsell-loader"
        data-url="{{ routes.product_recommendations_url }}?limit={{ upsell_limit }}&intent={{ upsell_intent }}"
        data-section-id="cart-drawer-upsell"
        data-product-id="{{ upsell_product_id }}"
      ></cart-drawer-upsell>
    </div>
  {%- endif -%}
{%- endif -%}
