{%- liquid
  assign upsell_limit = settings.cart_drawer_upsell_limit | default: 4
-%}

<div data-upsell-content>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    {% render 'cart-drawer-upsell-slider',
      products: recommendations.products,
      upsell_limit: upsell_limit
    %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Cart drawer upsell",
  "settings": []
}
{% endschema %}
