{%- liquid
  assign upsell_limit = settings.cart_drawer_upsell_limit | default: 4
  assign shown_count = 0
-%}

<div data-upsell-content>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    <div class="cart-drawer-upsell">
      <h3 class="cart-drawer-upsell__heading h4">
        {{ 'sections.cart.upsell_heading' | t }}
      </h3>
      <ul class="cart-drawer-upsell__list list-unstyled" role="list">
        {%- assign skip_card_product_styles = false -%}
        {%- for product in recommendations.products -%}
          {%- if shown_count >= upsell_limit -%}
            {%- break -%}
          {%- endif -%}

          {%- assign product_in_cart = false -%}
          {%- for item in cart.items -%}
            {%- if item.product_id == product.id -%}
              {%- assign product_in_cart = true -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if product_in_cart == false and product.available -%}
            <li class="cart-drawer-upsell__item">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: 'square',
                show_secondary_image: false,
                lazy_load: true,
                skip_styles: skip_card_product_styles,
                quick_add: 'standard',
                section_id: section.id,
                horizontal_class: true,
                horizontal_quick_add: true
              %}
            </li>
            {%- assign skip_card_product_styles = true -%}
            {%- assign shown_count = shown_count | plus: 1 -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Cart drawer upsell",
  "settings": []
}
{% endschema %}
